@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  background-image: url("edi_background.JPG");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
}